    <!-- th:text is a Thymeleaf attribute that sets the element's text.
    ${message} asks Thymeleaf to look for a model attribute named message.
    Thymeleaf replaces the element's text with the value found in the Model. -->


<h2>Add New Student</h2>

<p th:if="${message}" th:text="${message}"></p>


<table th:unless="${#lists.isEmpty(students)}" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>

            <!-- View link  -->
            <td>
                <a th:href="@{/students/{id}(id=${student.id})}">
                    View
                </a>

                 <a th:href="@{/students/edit/{id}(id=${student.id})}">
                    Edit
                </a>


                <form th:action="@{/students/delete/{id}(id=${student.id})}"
                    method="post"
                    style="display:inline;"
                    onsubmit="return confirm('Are you sure you want to delete this student?');">

                    <button type="submit">Delete</button>
                </form>

            </td>
        </tr>
    </tbody>
</table>

<hr>
