    <!-- th:text is a Thymeleaf attribute that sets the element's text.
    ${message} asks Thymeleaf to look for a model attribute named message.
    Thymeleaf replaces the element's text with the value found in the Model. -->


<h2>Add New Student</h2>

<p th:if="${message}" th:text="${message}"></p>

<form th:action="@{/students}" method="post"> <!--  sends the form to /students. -->
    <label>Name:</label>
    <input type="text" name="name" required>

    <br><br>

    <label>Email:</label>
    <input type="email" name="email" required>

    <br><br>

    <button type="submit">Add Student</button>
</form>

<hr>
